ol {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
}

ol li {
  border: 1px solid;
  list-style-type: none;
  padding-bottom: 20px;
}

ol li img {
  padding-bottom: 20px;
}

ol li a {
  margin: 20px;
}

@media (min-width: 600px) {
  ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
