ol {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
}

.infoBox {
  background-color: #e682a9;
  color: #dfe0e4;
  padding: 7%;
  padding-top: 3%;
  border-radius: 3px;
}

ol li {
  border: 1px solid;
  list-style-type: none;
  padding-bottom: 20px;
  background-color: #233249;
  color: #dfe0e4;
}

ol li img {
  padding-bottom: 20px;
}

ol li a {
  margin: 20px;
  color: #dfe0e4;
}

ol li a:visited {
  color: #dfe0e4;
}

@media (min-width: 600px) {
  ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  ol {
    grid-template-columns: 1fr 1fr;
  }
}
