.productInfo {
  line-height: 200%;
  height: fit-content;
}

img {
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0px;
}

.book {
  padding: 7px 20px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #e682a9;
  margin-top: 15px;
  background-color: #ffffff;
}

#data {
  border-color: #e682a9;
  border-style: solid;
  border-width: 2.5px;
}

input {
  border-width: 1px;
  border-style: solid;
  border-color: #e682a9;
  background-color: #ffffff;
}

p.subtle {
  color: #777677;
  font-weight: 100;
}

@media (min-width: 800px) {
  .productTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
