.smallProduct {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid;
}

.name h3 {
  margin-left: 20px;
}

.name p {
  margin: 20px;
}

.smallProduct a {
  margin: 20px;
}

.seeMore {
  padding: 15px;
  background-color: #e682a9;
  text-align: center;
  border-radius: 5px;
  color: #dfe0e4;
  width: 50%;
}

a.seeMore:visited {
  color: #dfe0e4;
}

a.seeMore:hover {
  color: #dfe0e4;
}

@media (min-width: 800px) {
  .smallProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7%;
    align-items: center;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .tags {
    display: none;
  }
}
