.smallProduct {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e682a9;
  align-items: center;
}

.smallProduct h3 {
  margin: 20px;
}

.smallProduct a {
  margin: 30px;
}

.seeMore {
  padding: 15px;
  background-color: #e682a9;
  text-align: center;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .smallProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
  }
}
